.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #f9f9f9;
    width: 90%;
    max-width: 600px;
    height: 100vh;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 99;
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: scroll;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.popup p {
    font-size: 14px;
    color: #333;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 25px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup form label {
    font-size: 15px;
    color: #333;
    text-align: left;
}

.popup form input[type="text"],
.popup form input[type="number"],
.popup form input[type="email"] {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.popup fieldset {
    border: none;
    padding: 0;
    margin-top: 10px;
}

.popup legend {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #333;
}

.popup fieldset label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.popup input[type="submit"],
.popup button {
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #0077ff;
    color: white;
    transition: background-color 0.3s ease;
}
.popup button {
    background-color: red;
}

.popup input[type="submit"]:hover{
    background-color: #005fcc;
}
.popup button:hover{
    background-color: rgb(148, 1, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}